<div class="main" id="main">
  <p id="odeio">
    Desenvolvimento UpNow tecnologia

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ⚙️
    </button>
    <span><a href="logar">login</a></span>
   
  </p>

  <p></p>

  <div class="texto" id="texto">
    <h2 class="titulo">G</h2>

    <h2>A</h2>
    <h2>L</h2>
    <h2>A</h2>
    <h2 class="destaque">C</h2>
    <h2 class="destaque">T</h2>
    <h2>Q</h2>
    <h2>U</h2>
    <h2>I</h2>
    <h2>Z</h2>
  </div>
</div>
<div class="botao" id="botao">
  <br />
  <a class="a"  routerLink="inicio"><button class="button">Jogar agora</button></a>
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Estilos</h1>
    
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <input type="radio"  name="selectcolor"><label>Blue</label> <br>
    <input type="radio" name="selectcolor"><label>White</label> <br>
    <input type="radio" name="selectcolor"><label>Nada</label> <br>
    <input type="radio" name="selectcolor"><label>Nada</label> <br>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary primary" data-bs-dismiss="modal">Salvar | </button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
</div>
</div>
<!--- (click)="jogar()"-->
