<section onload="carregar()">
  <section>
    <div class="main">
      <div class="titulo">
        <h2>G</h2>

        <h2>A</h2>
        <h2>L</h2>
        <h2>A</h2>
        <h2 class="destaque">C</h2>
        <h2 class="destaque">t</h2>
        <h2>Q</h2>
        <h2>U</h2>
        <h2>I</h2>
        <h2>Z</h2>

        <span>||=UpNow=||</span>
      </div>
    </div>
    <style>
      a{
        text-decoration: none;
        color:white;
        max-height: 10px;
        opacity: 10%
      }
    </style>

    <p class="saud" id="saud">
      Na imensidão da galaxia, em um azul infinito o aprendizado chega

      <br />
      <br />
    </p>
    <p class="saud-celular" id="saud-celular"></p>

    <h2 class="titulo sub pergunta" id="tipo"><br />pergunta 01</h2>

    <p id="pergunta">
      <br />
      se a velocidade média de uma nave é de 800km por hora, em quanto tempo ela
      irá percorrer a distancia de um ano luz?
    </p>

    <p class="option" id="certo">
      <input type="radio" placeholder="20 anos" name="alt" required />
      <label for="alt">20 anos</label>
    </p>
    <p class="option" id="errado">
      <input type="radio" placeholder="20 anos" name="alt" />
      <label for="alt">32 anos</label>
    </p>
    <p (click)="proxima()" id="feed"></p>
    <p (click)="conferir()" class="conferir" id="confere"><br />conferir</p>

    <p id="proxima"></p>
    <p></p>
  </section>
</section>
